{% extends 'administrator/baseDash.html' %}

      {% block title %}Home - FreshCart{% endblock %}
      
      {% block content %}
      {% load static %}
          
      <main class="main-content-wrapper">
        <div class="container">
            <div class="row mb-8">
                <div class="col-md-12">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
                        <div>
                            <h2>Customers</h2>
                            <!-- breacrumb -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Customers</li>
                                </ol>
                            </nav>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-12 mb-5">
                    <div class="card h-100 card-lg">
                        <div class="p-6">
                            <div class="row justify-content-between">
                                <div class="col-md-4 col-12">
                                    <form class="d-flex" role="search">
                                        <label for="searchCustomers" class="visually-hidden">Search Customers</label>
                                        <input class="form-control" type="search" id="searchCustomers" placeholder="Search Customers" aria-label="Search" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="checkAll" />
                                                    <label class="form-check-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Purchase Date</th>
                                            <th>Phone</th>
                                            <th>Spent</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in customers %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="customerOne" />
                                                    <label class="form-check-label" for="customerOne"></label>
                                                </div>
                                            </td>
    
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="{{customer.customer.photo.url}}" alt="" class="avatar avatar-xs rounded-circle" />
                                                    <div class="ms-2">
                                                        <a href="#!" class="text-inherit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{customer.customer.name}}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{customer.customer.email}}</td>
    
                                            <td>{{customer.date_time}}</td>
                                            <td>{{customer.customer.phone_no}}</td>
                                            <td>₹{{ customer.total_cost }}</td>
                                            <td>
                                                <div class="dropdown">
                                                   <a href="" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                      <i class="feather-icon icon-more-vertical fs-5"></i>
                                                   </a>
                                                   <ul class="dropdown-menu">
                                                      <li>
                                                         <a class="dropdown-item" href="{%url 'delete_user' customer.customer.id %}">
                                                            <i class="bi bi-trash me-3"></i>
                                                            Delete
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a class="dropdown-item" href="{%url 'editCustomer' customer.customer.id %}">
                                                            <i class="bi bi-pencil-square me-3"></i>
                                                            Edit
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                        <div class="border-top d-flex justify-content-between align-items-md-center px-6 py-6 flex-md-row flex-column gap-4">
                                            <span>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</span>
                                            <nav>
                                                <ul class="pagination mb-0">
                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                                    {% else %}
                                                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                                    {% endif %}
                                                    {% for num in page_obj.paginator.page_range %}
                                                        {% if page_obj.number == num %}
                                                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                                        {% else %}
                                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if page_obj.has_next %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                    {% else %}
                                                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 
    {% endblock %}