{% extends 'administrator/baseDash.html' %}

      {% block title %}Home - FreshCart{% endblock %}
      
      {% block content %}
      {% load static %}
      <main class="main-content-wrapper">
         <section class="container">
            <!-- row -->
            <div class="row mb-8">
               <div class="col-md-12">
                  <!-- card -->
                  <div
                     class="card bg-light border-0 rounded-4"
                     style="background-image: url(../assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
                     <div class="card-body p-lg-12">
                        <h1>Welcome back! Admin {{user.name}}</h1>
                        <p>FreshCart is simple & clean grocery selling website.</p>
                         </div>
                  </div>
               </div>
            </div>
            <!-- table -->
            <div class="table-responsive-xl mb-6 mb-lg-0">
               <div class="row flex-nowrap pb-3 pb-lg-0">
                  <div class="col-lg-4 col-12 mb-6">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                           <!-- heading -->
                           <div class="d-flex justify-content-between align-items-center mb-6">
                              <div>
                                 <h4 class="mb-0 fs-5">Customers</h4>
                              </div>
                              <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                                 <i class="bi bi-people fs-5"></i>
                              </div>
                           </div>
                           <!-- project number -->
                           <div class="lh-1">
                              <h1 class="mb-2 fw-bold fs-2">{{customer}}</h1>
                              <span>Total customers, {{cusCount}} new customers in 7 days</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mb-6">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                           <!-- heading -->
                           <div class="d-flex justify-content-between align-items-center mb-6">
                              <div>
                                 <h4 class="mb-0 fs-5">Orders</h4>
                              </div>
                              <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                                 <i class="bi bi-cart fs-5"></i>
                              </div>
                           </div>
                           <!-- project number -->
                           <div class="lh-1">
                              <h1 class="mb-2 fw-bold fs-2">{{total_orders}}</h1>
                              <span>
                                 <span class="text-dark me-1">{{two_day_sales}}</span>
                                 New Orders In 7 Days
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mb-6">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                           <!-- heading -->
                           <div class="d-flex justify-content-between align-items-center mb-6">
                              <div>
                                 <h4 class="mb-0 fs-5">Vendors</h4>
                              </div>
                              <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                                 <i class="bi bi-people fs-5"></i>
                              </div>
                           </div>
                           <!-- project number -->
                           <div class="lh-1">
                              <h1 class="mb-2 fw-bold fs-2">{{selCount}}</h1>
                              <span>
                                Posted <span class="text-dark me-1">{{selweek}}</span>
                                 Products in total
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- row -->
            <div class="row">
               <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-6">
                  <!-- card -->
                  <div class="card h-100 card-lg">
                     <div class="card-body p-6">
                        <!-- heading -->
                        <div class="d-flex justify-content-between">
                           <div>
                              <h3 class="mb-1 fs-5">Revenue</h3>
                              <small>(+100%) than last year</small>
                           </div>
                           <div>
                              <!-- select option -->
                              <select class="form-select" onchange="location = this.value;">
                                 <option value="{% url 'admin_dashboard' %}?period=15_days" {% if period == '15_days' %} selected {% endif %}>15 days</option>
                                 <option value="{% url 'admin_dashboard' %}?period=4_weeks" {% if period == '4_weeks' %} selected {% endif %}>4 weeks</option>
                                 <option value="{% url 'admin_dashboard' %}?period=months" {% if period == 'months' %} selected {% endif %}>Months</option>
                              </select>
                           </div>
                        </div>
                        <!-- chart -->
                        <div id="revenueChart" class="mt-6"></div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-12 mb-6">
                  <!-- card -->
                  <div class="card h-100 card-lg">
                     <!-- card body -->
                     <div class="card-body p-6">
                        <!-- heading -->
                        <h3 class="mb-0 fs-5">Total Sales</h3>
                        <div id="totalSale" class="mt-6 d-flex justify-content-center"></div>
                        <div class="mt-4">
                           <!-- list -->
                           <ul class="list-unstyled mb-0">
                              <li class="mb-2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                 </svg>
                                 <span class="ms-1">
                                    <span class="text-dark">Completed {{completed_orders}}</span>
                                    ({{completedPer}}%)
                                 </span>
                              </li>
                              <li class="mb-2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                 </svg>
                                 <span class="ms-1">
                                    <span class="text-dark">Pending {{pending_orders}}</span>
                                    ({{PendingPer}}%)
                                 </span>
                              </li>
                              <li class="mb-2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                 </svg>
                                 <span class="ms-1">
                                    <span class="text-dark">Cancelled {{cancelled_orders}}</span>
                                    ({{cancelledPer}}%)
                                 </span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- row -->
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
                  <!-- card -->
                  <div class="card h-100 card-lg">
                     <!-- card body -->
                     <div class="card-body p-6">
                        <h3 class="mb-0 fs-5">Sales Overview</h3>
                        <div class="mt-6">
                           <!-- text -->
                           <div class="mb-5">
                              <div class="d-flex align-items-center justify-content-between">
                                 <h5 class="fs-6">Total Profit</h5>
                                 <span>
                                    <span class="me-1 text-dark">₹{{total_profit}}</span>
                                    ({{profitPer}}%)
                                 </span>
                              </div>
                              <!-- main wrapper -->
                              <div>
                                 <!-- progressbar -->
                                 <div class="progress bg-light-primary" style="height: 6px">
                                    <div
                                       class="progress-bar bg-primary"
                                       role="progressbar"
                                       aria-label="Example 1px high"
                                       style="width: {{profitPer}}%"
                                       aria-valuenow="{{profitPer}}"
                                       aria-valuemin="0"
                                       aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="mb-5">
                              <!-- text -->
                              <div class="d-flex align-items-center justify-content-between">
                                 <h5 class="fs-6">Total Income</h5>
                                 <span>
                                    <span class="me-1 text-dark">₹{{total_earnings}}</span> (100%)
                                 </span>
                              </div>
                              <div>
                                 <!-- progressbar -->
                                 <div class="progress bg-info-soft" style="height: 6px">
                                    <div
                                       class="progress-bar bg-info"
                                       role="progressbar"
                                       aria-label="Example 1px high"
                                       style="width: 100%"
                                       aria-valuenow="100"
                                       aria-valuemin="0"
                                       aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </div>
                           <div>
                              <!-- text -->
                              <div class="d-flex align-items-center justify-content-between">
                                 <h5 class="fs-6">Total Expenses</h5>
                                 <span>
                                    <span class="me-1 text-dark">₹{{total_expence}}</span> ({{expencePer}}%)
                                 </span>
                              </div>
                              <div>
                                 <!-- progressbar -->
                                 <div class="progress bg-light-danger" style="height: 6px">
                                    <div
                                       class="progress-bar bg-danger"
                                       role="progressbar"
                                       aria-label="Example 1px high"
                                       style="width: {{expencePer}}%"
                                       aria-valuenow="{{expencePer}}"
                                       aria-valuemin="0"
                                       aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
                  <div class="position-relative h-100">
                     <!-- card -->
                     <div class="card card-lg mb-6">
                        <!-- card body -->
                        <div class="card-body px-6 py-8">
                           <div class="d-flex align-items-center">
                              <div>
                                 <!-- svg -->
                                 <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bell text-warning" viewBox="0 0 16 16">
                                    <path
                                       d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                 </svg>
                              </div>
                              <!-- text -->
                              <div class="ms-4">
                                 <h5 class="mb-1">Start your day with New Notification.</h5>
                                 <p class="mb-0">
                                    You have
                                    <a class="link-info" href="#!">2 new notification</a>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                     <div class="card card-lg">
                        <!-- card body -->
                        <div class="card-body px-6 py-8">
                           <div class="d-flex align-items-center">
                              <!-- svg -->
                              <div>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightbulb text-success" viewBox="0 0 16 16">
                                    <path
                                       d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                                 </svg>
                              </div>
                              <!-- text -->
                              <div class="ms-4">
                                 <h5 class="mb-1">Monitor your Sales and Profitability</h5>
                                 <p class="mb-0"><a class="link-info" href="#!">View Performance</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </div>
</div>
<script src="{% static 'js/theme.min.js' %}"></script>

<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script>
const theme = {
primary: "var(--fc-primary)",
secondary: "var(--fc-secondary)",
success: "var(--fc-success)",
info: "var(--fc-info)",
warning: "var(--fc-warning)",
danger: "var(--fc-danger)",
dark: "var(--fc-dark)",
light: "var(--fc-light)",
white: "var(--fc-white)",
gray100: "var(--fc-gray-100)",
gray200: "var(--fc-gray-200)",
gray300: "var(--fc-gray-300)",
gray400: "var(--fc-gray-400)",
gray500: "var(--fc-gray-500)",
gray600: "var(--fc-gray-600)",
gray700: "var(--fc-gray-700)",
gray800: "var(--fc-gray-800)",
gray900: "var(--fc-gray-900)",
black: "var(--fc-black)",
transparent: "transparent",
};
(window.theme = theme),
(function () {
"use strict";
var e;
document.getElementById("revenueChart") &&
((e = {
series: [
 { name: "New Orders", data: [ {% for sale in daily_sales %} {{sale.order}},{% endfor %} ] },
 { name: "New customer", data: [ {% for sale in daily_sales %} {{sale.customer}},{% endfor %} ] },
 { name: "New Seller", data: [ {% for sale in daily_sales %} {{sale.seller}},{% endfor %} ] },

],
labels: [
{% for sale in daily_sales %} '{{sale.day}}',{% endfor %}
],
 chart: { height: 350, type: "area", toolbar: { show: !1 } },
 dataLabels: { enabled: !1 },
 markers: { size: 5, hover: { size: 6, sizeOffset: 3 } },
 colors: ["#0aad0a", "#ffc107","#016bf8"],
 stroke: { curve: "smooth", width: 2 },
 grid: { borderColor: window.theme.gray300 },
 xaxis: {
   labels: {
     show: !0,
     align: "right",
     minWidth: 0,
     maxWidth: 160,
     style: {
       fontSize: "12px",
       fontWeight: 400,
       colors: [window.theme.gray600],
       fontFamily: '"Inter", "sans-serif"',
     },
   },
   axisBorder: {
     show: !0,
     color: window.theme.gray300,
     height: 1,
     width: "100%",
     offsetX: 0,
     offsetY: 0,
   },
   axisTicks: {
     show: !0,
     borderType: "solid",
     color: window.theme.gray300,
     height: 6,
     offsetX: 0,
     offsetY: 0,
   },
 },
 legend: {
   position: "top",
   fontWeight: 600,
   color: window.theme.gray600,
   markers: {
     width: 8,
     height: 8,
     strokeWidth: 0,
     strokeColor: "#fff",
     fillColors: void 0,
     radius: 12,
     customHTML: void 0,
     onClick: void 0,
     offsetX: 0,
     offsetY: 0,
   },
   labels: { colors: window.theme.gray600, useSeriesColors: !1 },
 },
 yaxis: {
   labels: {
     formatter: function (e) {
       return e;
     },
     show: !0,
     align: "right",
     minWidth: 0,
     maxWidth: 160,
     style: {
       fontSize: "12px",
       fontWeight: 400,
       colors: window.theme.gray600,
       fontFamily: '"Inter", "sans-serif"',
     },
   },
 },
}),
new ApexCharts(document.getElementById("revenueChart"), e).render()),
document.getElementById("totalSale") &&
 ((e = {
   series: [ {{completed_orders}} , {{pending_orders}}, {{cancelled_orders}}],
   labels: ["Completed", "Pending", "Cancelled"],
   colors: ["#0aad0a", "#ffc107", "#db3030"],
   chart: { type: "donut", height: 280 },
   legend: { show: !1 },
   dataLabels: { enabled: !1 },
   plotOptions: {
     pie: {
       donut: {
         size: "85%",
         background: "transparent",
         labels: {
           show: !0,
           name: {
             show: !0,
             fontSize: "22px",
             fontFamily: '"Inter", "sans-serif"',
             fontWeight: 600,
             colors: [window.theme.gray600],
             offsetY: -10,
             formatter: function (e) {
               return e;
             },
           },
           value: {
             show: !0,
             fontSize: "24px",
             fontFamily: '"Inter", "sans-serif"',
             fontWeight: 800,
             colors: window.theme.gray800,
             offsetY: 8,
             formatter: function (e) {
               return e;
             },
           },
           total: {
             show: !0,
             showAlways: !1,
             label: "Total Sales",
             fontSize: "16px",
             fontFamily: '"Inter", "sans-serif"',
             fontWeight: 400,
             colors: window.theme.gray400,
             formatter: function (e) {
               return e.globals.seriesTotals.reduce((e, r) => e + r, 0);
             },
           },
         },
       },
     },
   },
   stroke: { width: 0 },
   responsive: [
     {
       breakpoint: 1400,
       options: { chart: { type: "donut", width: 290, height: 330 } },
     },
   ],
 }),
 new ApexCharts(document.getElementById("totalSale"), e).render());
})();

</script>    {% endblock %}